<div class="jumbotron shadow p-3">
  <%= image_tag(@user.photo, alt: @user.name, class: 'user-image') %>
  <h2 class="display-2 font-weight-bold mt-2 d-inline-block"><%= @user.name %></h2>
  <p class="right">Number of posts: <%= @user.posts.count %></p>
</div>

<div class="jumbotron shadow p-3">
  <h5>Bio</h5>
  <p><%= @user.bio %></p>
</div>

<%= render partial: 'show_post', collection: @user.recent_posts, as: :post %>

<div class="d-flex justify-content-center mt-5 mb-5">
  <%= link_to 'See All Posts', user_posts_path(@user), class: 'btn btn-dark' %>
</div>
