<div class="jumbotron shadow p-5">
  <h6 class="mb-3">Posted by: <%= @post.author.name %></h6>
  <h4><%= @post.title %></h4>
  <p class="right"> Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>
  <p><%= @post.text %></p>

  <%= form_with model: [@user, @post, @post.likes.build], local: true do |f| %>
    <%= f.submit "Like", class: 'btn btn-dark' %>
  <% end %>
</div>

<div class="card shadow p-5">
  <div class="card-body">
    <%= render @post.comments %>

    <%= form_with model: [@user, @post, @post.comments.build], class: 'mt-3' do |f| %>
      <div class="form-group">
        <%= f.label :text, class: 'form-label' %>
        <%= f.text_area :text, class: 'form-control' %>
      </div>

      <%= f.submit "Add Comment", class: 'btn btn-dark mt-2' %>
    <% end %>
  </div>
</div>
